<h2>Products list</h2>
<div class="add-product">
  <button (click)="onAddProduct()" class="btn btn-success">Add product</button>
</div> 

<div class="manage-product col-sm-6 col-md-3" [class.edited]="isEdited(product)"  *ngFor="let product of products$ | async">    
  <div class="manage-product-btn">
      <button class="btn btn-warning btn-sm"
        (click)="onUpdateProduct(product)">
        Update
      </button>
      <button class="btn btn-danger btn-sm"
        (click)="onDeleteProduct(product)">
        Delete
      </button>
  </div>

  <app-product [product]="product">
  </app-product>
</div>


