<div class="cart-product">
  <div class="cart-product-img">
    <img src="{{cartItem.images}}" alt="{{cartItem.title}}" width="50px">
  </div>
  <div class="cart-product-title">
    {{cartItem.title}}
  </div>
  <div class="cart-product-price">
      {{cartItem.price | currency:'USD'}}
  </div>
  <div class="cart-product-count">
    <button type="button" class="btn btn-default btn-xs" (click)="onQtyMinus()" [disabled]='cartItem.count === 1'>
        <span class="glyphicon glyphicon-minus"></span>
      </button>
      <!-- value="{{cartItem.count}}" не лишнее?  -->
      <input
        type="text"
        name="count"
        value="{{cartItem.count}}"
        [(ngModel)]="cartItem.count"
        class="form-control"
        (ngModelChange)="onQtyChange()">
      <button type="button" class="btn btn-default btn-xs" (click)="onQtyPlus()" [disabled]='cartItem.count > 99'>
        <span class="glyphicon glyphicon-plus"></span>
      </button>
  </div>
  <div class="cart-product-delete">
    <button type="button" (click)="onDeleteItem()" class="btn btn-default btn-sm" title="Delete product">X</button>
  </div>
</div>
