<div class="product-list-controls">
  <div class="product-list-sort">
      Sort by:
      <select #sortKey (change)="0">
        <option value="price">Price</option>
        <option value="title">Name</option>
      </select>
      <select #sortOrder (change)="0">
        <option value="0">desc</option>
        <option value="1">asc</option>
      </select>
  </div>
</div>
<!-- 
<div class="row">
  <app-product 
    *ngFor="let product of products | async | orderBy:sortKey.value:sortOrder.value"
    [product]="product"
    (buyProduct)="onBuyProduct($event)"
    (click)="onClickProduct(product)">
  </app-product>
</div> -->

<div class="row">
    <app-product 
      *ngFor="let product of (productsState$ | async | orderBy:sortKey.value:sortOrder.value).data"
      [product]="product"
      (buyProduct)="onBuyProduct($event)"
      (click)="onClickProduct(product)">
    </app-product>
  </div>