<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="{{product.images}}" alt="{{product.title}}">
    <div class="caption">
      <h3>{{product.title | uppercase}}</h3>
      <div class="product-price">
        Price: <b>{{product.price | currency:'USD'}}</b>
      </div>
      <div class="product-category">
        Category: {{product.category | enumToString: ProductCategory | uppercase }}
      </div>
      <!-- <p class="product-desc">{{product.desc}}</p> -->
      <p>
        <!-- <a href="#" class="btn btn-default" role="button">Button</a> -->
        <button class="btn btn-primary"(click)="onBuyProduct($event)" [disabled]="product.isAvailable == false">Buy</button>
      </p>
    </div>
  </div>
</div>